snippet #guard "Header Guard" b
#ifndef `!v toupper(substitute(substitute(expand('%:t:r'), '\([a-z]\)\([A-Z]\)', '\1_\2', 'g'), '[^a-zA-Z0-9]', '_', 'g'))`_H_
#define `!v toupper(substitute(substitute(expand('%:t:r'), '\([a-z]\)\([A-Z]\)', '\1_\2', 'g'), '[^a-zA-Z0-9]', '_', 'g'))`_H_

${0}

#endif // `!v toupper(substitute(substitute(expand('%:t:r'), '\([a-z]\)\([A-Z]\)', '\1_\2', 'g'), '[^a-zA-Z0-9]', '_', 'g'))`_H_
endsnippet

